<h1><%= @album.name %></h1>
<%= image_tag @album.photo.url(:thumb) %>

<h2>Photos</h2>

<% @album.photos.each do |photo| %>
  <p><%= image_tag photo.photo.url(:medium) %></p>
  <p><%= photo.caption %></p>
<% end %>


<h2><%= link_to "Add a Photo", new_album_photo_path(@album) %></h2>

